.navbar {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(#020202, #101112 40%, #191B1D);
}

.navCreatePoll {
  border: 0px;
  margin-right: .5em;
  background-color: #6f49f6;
}

.navCreatePoll:hover {
  background-color: #4a2bb7;
}

.navLogin {
  border: 0px;
  margin-right: .5em;
  background-color: #6f49f6;
}


.navLogin:hover {
  background-color: #4a2bb7;
}


.logoDecisio {
  height: 5em;
  width: 5em;
  margin-right: auto;
}