.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #adb8c5;
}

.navCreatePoll {
  border: 1px solid grey;
  margin-right: .5em;
}

.navLogin {
  border: 1px solid grey;
  margin-right: .5em;
}

