.newFormTextFields {
  border-radius: 5px;
}


.multiple_emails-container input {
  border-radius: 5px;
}

.multiple_emails-container textarea {
  border-radius: 5px;
}

.formBox {
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
  padding: 6px;
  margin-top: 15px;
}

.sendVote {
  border: 0px;
  margin-right: .5em;
  background-color: #6f49f6;
}

.sendVote:hover {
  background-color: #4a2bb7;
}

.addEmail {
  color: white;
  border: 0px;
  margin-right: .5em;
  background-color: #6f49f6;
}

.addEmail:hover {
  background-color: #4a2bb7;
}

.emailContainer {
  margin-bottom: 15px;
}

.Recipients {
  padding-top:10px;
}