<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Decisio</title>
</head>
<body background="/../../styles/mountain.jpg">
  <!-- <img src='https://github.com/fzero/lhl-lectures/tree/master/w4d3-project-planning'> -->

  <!-- https://github.com/fzero/lhl-lectures/tree/master/w4d3-project-planning -->

  <nav class="navbar navbar-lightjustify-content-end">
      <img class='logoDecisio' src='/../../styles/logo2.png'>
      <button type="button" class="btn btn-primary nav-link navCreatePoll">Create new poll </button>
      <button type="button" class="btn btn-primary nav-link navLogin">Login </button>
  </nav>
</body>

</html>