<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Decisio</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-end">
      <img src='../public/styles/logo2.png'>
      <button type="button" class="btn btn-primary nav-link navCreatePoll">Create new poll </button>
      <button type="button" class="btn btn-primary nav-link navLogin">Login </button>
  </nav>
</body>

</html>