<!doctype html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div class="container">
      <div class="col-md-auto">
      <h2>Have to take a decision? Ask your friends</h2>
      <form action="/login/new" method="POST" class="formData">
        <div>
          <label>Enter a poll title :</label>
          <textarea class="form-control formTitle col col-md-4" name="poll_title"></textarea>
        </div>
        <div>
          <label>Enter a description of your poll :</label>
          <textarea class=" form-control formDescription col col-md-8" name="poll_description"></textarea>
        </div>
        <div >
          <label>Enter a poll choices :</label>
          <i class="fas fa-plus-square"></i>
          <div class="pollItemContainer">
            <input class="form-control choice1 w-50" name="poll_choice">
            <input class="form-control choice2" name="poll_choice">
          </div>
        </div>
        <button type="button" class="btn btn-primary">Send </button>
      </form>
    </div>
    </div>
    <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
      <li>
        <a href="javascript:;">
          <label>Recipients:</label>
          <div class="input-group input-group-md">
            <input type="text" id="example_emailBS" class="form-control" value='["damian.raffa@mobileum.com", "user@bell.com"]'>
            <span class="input-group-btn">
              <button class="btn red" type="button"><i class="fa fa-calendar-plus-o"></i></button>
            </span>
          </div>
        </a>
      </li>
      <li>
        <a href="javascipt:;">
          <div class="form-group form-group-md">
            <input type="text" id="example_emailBS" name="example_emailBS" class="form-control" placeholder="Report name" value='["damian.raffa@mobilueum.com", "user@bell.com"]'>
          </div>
        </a>
      </li>
          </div>
        </a>
      </li>
    <% include partials/_footer %>
  </body>
</html>