<!doctype html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div class="container">
      <div class="col-md-auto">
      <h2>Have to take a decision? Ask your friends</h2>
      <form action="/login/new" method="POST" class="formData">
        <div>
          <label>Enter a poll title :</label>
          <textarea class="form-control formTitle col col-md-4" name="poll_title"></textarea>
        </div>
        <div>
          <label>Enter a description of your poll :</label>
          <textarea class=" form-control formDescription col col-md-8" name="poll_description"></textarea>
        </div>
        <div >
          <label>Enter a poll choices :</label>
          <i class="fas fa-plus-square"></i>
          <div class="pollItemContainer">
            <input class="form-control choice1 w-50" name="poll_choice">
            <input class="form-control choice2" name="poll_choice">
          </div>
        </div>
        <button type="button" class="btn btn-primary">Send </button>
      </form>
    </div>
    </div>
    <% include partials/_footer %>
  </body>
</html>