<!doctype html>
<html lang="en">
<head>
  <% include partials/_head %>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <div class="container">
    <div class="col-md-auto">
      <form action="/login/new" method="POST" class="multiple_emails-container formBox formData">
        <h2>Have to take a decision? Ask your friends</h2>
        <div>
          <p>Enter your email! to keep track of votes!<p>
            <textarea type="text" name="creatorEmail" class='creatorEmail'></textarea>
          </div>
          <div>
            <label>Enter a poll title :</label>
            <textarea class="form-control formTitle col col-md-4" name="poll_title"></textarea>
          </div>
          <div>
            <label>Enter a description of your poll :</label>
            <textarea class=" form-control formDescription col col-md-8" name="poll_description"></textarea>
          </div>
          <div >
            <label>Enter a poll choices :</label>
            <i class="fas fa-plus-square"></i>
            <div class="pollItemContainer">
              <input class="form-control choice1 w-50" name="poll_choice">
              <input class="form-control choice2" name="poll_choice">
            </div>
          </div class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">

              <a href="javascript:;">
                <label>Recipients:</label>
                <div class="input-group input-group-md emailContainer">
                  <input type="text" id="example_emailBS" class="form-control" value='["damian.raffa@mobileum.com", "user@bell.com"]'>
                  <span class="input-group-btn">
                    <button class="btn red addEmail" type="button">Add</button>
                  </span>
                </div>
              </a>
          <button type="button" id='formSubmit' class="btn btn-primary sendVote">Send Email</button>
        </form>
      </div>
    </div>
    <% include partials/_footer %>
  </body>
</html>
