<html lang="en">
<head>
  <% include partials/_head %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <div class="container">
    <div class="col-md-auto">
      <form action="/login/new" method="POST">
        <div>
          <h2>Camuel Jackson hire</h2>
        </div>
        <div>
          <h3>Poll description :</h3>
          <p>Lorem ipsum dolor amet literally intelligentsia portland banh mi. Raw denim mlkshk PBR&B adaptogen, salvia squid intelligentsia. Offal squid marfa put a bird on it distillery snackwave. Farm-to-table mustache hell of cred distillery. Literally man braid tote bag farm-to-table, crucifix stumptown irony franzen. Activated charcoal organic adaptogen godard. Celiac adaptogen pinterest listicle schlitz yuccie bushwick gentrify.</p>
        </div>
        <div >
          <ul id="sortable">
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-primary">Send </button>
    </form>
  </div>
</div>
<% include partials/_footer %>
</body>
</html>