<html lang="en">
<head>
  <% include partials/_head %>
  <!-- scss -->
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <h1>here's your polls : </h1>
  <main >
    <section class="container">
      <h4>Camuel Jackson hire</h4>
      <!-- <div class="poll_basic_info"> -->
        <img class="pie_chart" src="https://i.pinimg.com/originals/4b/2b/dd/4b2bdd81f7c36b617b3a8c4da6982cfa.png" alt="Italian Trulli">
        <div class="text_info">
          <p>153 responses</p>
          <p>Top response : Hire</p>
          <p>12 days ago</p>
        </div>
      <!-- </div> -->
      <footer>
        <button type="button" class="btn btn-see-details">See details</button>
      </footer>
    </section>
  </form>
</div>
</main>
<% include partials/_footer %>
</body>
</html>