<html lang="en">
<head>
  <% include partials/_head %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <div class="container">
    <div class="col-md-auto">
      <form action="/login/new" method="POST" class='formBox'>
        <div>
          <h2 class="poll_name_vote"><%= poll_name %></h2>
        </div>
        <div>
          <h3>Poll description :</h3>
          <p><%= poll_description %></p>
        </div>
        <div >
          <ul id="sortable">
            <% for (let q = 0; q < poll_options.length; q++) { %>
            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><div class="entry"><%= poll_options[q] %></div></li>
             <% }; %>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-primary vote">Send </button>
    </form>
  </div>
</div>
<% include partials/_footer %>
</body>
</html>
