<html lang="en">
<head>
  <% include partials/_head %>
  <!-- scss -->
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">

window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer", {
    title:{
      text: "My First Chart in CanvasJS"
    },
    data: [
    {
      // Change type to "doughnut", "line", "splineArea", etc.
      type: "doughnut",
      dataPoints: [
        { label: "apple",  y: 10  },
        { label: "orange", y: 15  },
        { label: "banana", y: 25  },
        { label: "mango",  y: 30  },
        { label: "grape",  y: 28  }
      ]
    }
    ]
  });
  chart.render();
}
</script>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>
  <h1>here's your polls : </h1>
  <main >

    <form class ="sign-up-form" method="POST" action="/index">
            <label for="email">Email:</label>
            <input class ="index_email_text" autocomplete='email' type="email" name="email" style="width: 300px" >
            <input class="index_email btn" type="submit" name="email" value="Submit">
          </form>

    <section class="container">

        <div id="chartContainer" style="height: 300px; width: 50%;"></div>

        <div class="text_info">
          <p>153 responses</p>
          <p>Top response : Mango</p>
          <p>12 days ago</p>
        </div>
      <!-- </div> -->
      <footer>
        <button type="button" class="btn btn-see-details">See details</button>
      </footer>
    </section>

</div>



</main>
<% include partials/_footer %>
</body>
</html>