<!doctype html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body class="loginBG">
    <header>
      <% include partials/_header %>
    </header>
    <div class="container centerflex">
      <div class="col-md-auto">
      <form class="loginZone">
        <div class="form-group">
          <label for="registerUserName"><span class="textLR">Username</span></label>
          <input type="text" class="form-control" id="registerUserName" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="registerEmail"><span class="textLR">Email address</span></label>
          <input type="email" class="form-control" id="registerEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="registerPassword"><span class="textLR">Password</span></label>
          <input type="password" class="form-control" id="registerPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" id="registerbutton_submit">Submit</button>
      </form>
    </div>
    </div>
    <% include partials/_footer %>
  </body>
</html>